:root {
    --pokedex-padding: 12px;
    --border-radius-l: 12px;
    --border-radius-s: 8px;
}

body {
    margin: 0;
    font-family: 'Open Sans';
}

h1 {
    margin: 0;
    font-size: 24px;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pokedex-padding);
    padding: var(--pokedex-padding);
}

.pokedexCard {
    width: 240px;
    height: 160px;
    background: grey;
    border-radius: var(--border-radius-l);
    padding: var(--pokedex-padding);
    display: flex;
}

.pokedexType {
    background: rgba(0,0,0,0.1);
    border-radius: var(--border-radius-s);
    padding: 3px;
    width: fit-content;
}

.pokedexBgEllipse {
    display: none;
}

.pokedexCardRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokedexImg {
    width: 100%;
    object-fit: cover;
}

.overlay {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#pokemonViewer {
    min-height: 50vh;
    color: white;
    display: flex;
    width: 300px;
    height: 400px;
    background: yellow;
    padding: 20px;
    box-sizing: border-box;
}