:root {
    --pokedex-padding: 12px;
    --pokedex-bg: #f0ebe7;
    --border-radius-l: 12px;
    --border-radius-s: 8px;
    --shadowing-l: 2px 2px 4px rgba(0, 0, 0, 0.25);
    --shadowing-s: 1px 1px 2px rgba(0, 0, 0, 0.3);
    --viewer-width: 350px;
    --scrollbar-width: 10px;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: var(--pokedex-bg);
}

::-webkit-scrollbar-thumb {
    background: #c7beb6;
    border-radius: calc(var(--scrollbar-width) / 2);
}

::-webkit-scrollbar-thumb:hover {
    background: #a1968d;
}

body {
    margin: 0;
    background: var(--pokedex-bg);
    font-family: 'Open Sans';
    font-size: 18px;
    overflow-x: hidden;
    margin-right: calc(100% - 100vw);
    /* Unabhängigkeit vom Scrollbalken */
}

body.no-scroll {
    overflow: hidden;
    /* Verhindert das Scrollen auf der ursprünglichen Website */
}

header {
    background: white;
    padding: var(--pokedex-padding);
    padding-right: calc(var(--pokedex-padding) + var(--scrollbar-width));
    margin-bottom: calc(var(--pokedex-padding) / 2);
    box-shadow: var(--shadowing-l);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerSideContainer {
    flex: 1;
}

#messageContainer {
    font-style: italic;
    font-size: 16px;
    margin: 0;
}

#loadMoreBtn {
    border-radius: var(--border-radius-l);
    border: 1px solid #333;
    background: #faf9f9;
    color: #333;
    height: 28px;
    font-size: 16px;
    outline: none;
    padding: 0 6px;
    cursor: pointer;
    transition: 75ms;
}

#loadMoreBtn:hover {
    border-color: #636363;
    background: #fcfafa;
    transition: 75ms;
}

#loadMoreBtn:active {
    border-radius: var(--border-radius-s);
    border-color: #888888;
    background: #fefcfc;
}

form {
    display: flex;
    align-items: center;
    height: 48px;
}

#searchInput {
    border-radius: var(--border-radius-l);
    width: 180px;
    height: 28px;
    font-size: 16px;
    padding: 0 6px;
    border: 1px solid #333;
    outline: none;
    transition: 75ms;
}

#searchInput:focus {
    border-color: #888888;
    background: #faf9f9;
    transition: 75ms;
}

#searchInput::placeholder {
    text-align: center;
    transition: 75ms;
}

#searchInput:focus::placeholder {
    color: #faf9f9;
    transition: 125ms;
}

.searchPokeballImg {
    display: block;
    width: 32px;
    transition: 125ms ease-in-out;
}

.searchPokeballImg:hover {
    transform: rotate(18deg);
    transition: 125ms ease-in-out;
}

#searchNumber {
    width: 56px;
}

h1 {
    margin: 0;
    font-size: 24px;
    text-shadow: var(--shadowing-s);
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans';
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--pokedex-padding);
    padding: var(--pokedex-padding);
    padding-bottom: none;
    padding-right: calc(var(--pokedex-padding) + var(--scrollbar-width));
}

.pokedexCard {
    width: 240px;
    height: 160px;
    display: flex;
    color: white;
    border-radius: var(--border-radius-l);
    padding: var(--pokedex-padding);
    box-shadow: var(--shadowing-l);
    transition: 125ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.pokedexCard:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 100ms ease-in-out;
}

.pokeballBg {
    height: 100%;
    opacity: 0.08;
    position: absolute;
    right: -30px;
    bottom: -40px;
    object-fit: cover;
    overflow: hidden;
}

.pokedexType {
    border-radius: var(--border-radius-s);
    padding: 3px;
    font-size: 16px;
    width: fit-content;
    box-shadow: 1px 2px 0px rgba(255, 255, 255, 0.4);
}

.pokedexCardLeft {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pokedexCardRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pokedexImg {
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(var(--shadowing-s));
}

.overlay {
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.iconBtn {
    filter: drop-shadow(var(--shadowing-s));
    transition: 125ms ease-in-out;
}

.iconBtn:hover {
    transform: scale(1.2);
    transition: 75ms ease-in-out;
}

.arrow {
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconBtnWrapper {
    display: flex;
    justify-content: flex-end;
}

#pokemonViewer {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: var(--viewer-width);
    height: 650px;
    background: none;
    border-radius: var(--border-radius-l);
    box-shadow: var(--shadowing-l);
}

#viewerTop {
    border-radius: var(--border-radius-l);
    flex: 1;
    padding: var(--pokedex-padding);
}

#viewerName {
    margin-bottom: 10px;
}

#viewerTypes {
    display: flex;
    gap: 6px;
}

#viewerBottom {
    background: white;
    border-radius: var(--border-radius-l);
    height: 50%;
    margin-top: -20px;
    padding: var(--pokedex-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#viewerPokemonImg {
    max-width: 100%;
    max-height: 220px;
    margin-top: -200px;
    margin-bottom: 8px;
    filter: drop-shadow(var(--shadowing-s));
}

nav {
    padding-top: var(--pokedex-padding);
    display: flex;
    justify-content: center;
    gap: calc(var(--pokedex-padding) * 2);
}

nav>button {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 0;
}

.navActive {
    border-bottom: 3px solid #222;
}

.navInactive {
    padding-bottom: 7px;
}

.navInactive::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    bottom: -31px;
    left: 0;
    background-color: #333;
}

.navInactive:hover::before {
    transform: scaleX(1);
}

.navLeft::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 125ms ease-in-out;
}

.navRight::before {
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 125ms ease-in-out;
}

section {
    width: var(--viewer-width);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewerTable {
    width: 100%;
    padding-bottom: var(--pokedex-padding);
}

.viewerTable>tbody>tr>td {
    width: 50%;
    padding-bottom: 2px;
}

.tableLeft {
    font-weight: bold;
    text-align: right;
    padding-right: var(--pokedex-padding);
}

.tableRight {
    color: black;
    padding-left: var(--pokedex-padding);
}

#pokeId {
    color: #888888;
}

.tdAbilities {
    vertical-align: top;
}

#abilities {
    list-style-type: none;
    padding: 0;
    display: contents;
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    padding-top: var(--pokedex-padding);
    padding-bottom: var(--pokedex-padding);
    padding-right: calc(var(--pokedex-padding) + var(--scrollbar-width));
}

.footerLink {
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.footerLink:hover {
    color: #606060;
}

@media(max-width: 573px) {
    .pokedexCard {
        width: 100%;
    }

    .pokedexCardRight {
        justify-content: center;
    }

    .pokedexImg {
        width: auto;
        height: 120%;
    }

    .arrow {
        margin: 0 calc(0.4 * 100vw - 231px);
    }
}